

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Boite de controle</a>
    </li>
  
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      

          <input type="button" class="btn btn-sm btn-success" style="margin-top:10px;margin-left:5px;margin-bottom: 5px;" value="AllumerTout &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;" (click)="allumerTout()">
          <br>
          <input type="button" class="btn btn-sm btn-danger" style="margin:5px" value="EtteindreTout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" (click)="ettendreTout()">
          <br>
          <input type="button" class="btn btn-sm btn-success" style="margin:5px" value="ConnecterTout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" (click)="connecterTout()">
          <br>
          <input type="button" class="btn btn-sm btn-danger"  style="margin:5px" value="DeConnecterTout " (click)="deconnecterTout()">
          <br>
          <hr>
          
              <button class="btn btn-info btn-md"  style="margin:5px" (click)="hideMe()" >Ajouter un Objet</button>
          
      



    </div>
   
  </div>






