<div class="container">
  <div class="row">
    <div class="col-9" >
        <table class="table table-hover table-bordered table-striped" >
            <thead class="thead-dark">
                    <th>nomDObjet</th>
                    <th>emplacementDOobjet</th>
                    <th>statutDObjet</th>
                    <th>estConnecte</th>
                    <th>alumer ou Etteindre</th>
                    <th>Connecter ou deConnecter</th>
            </thead>
            <tr *ngFor="let objet of objets">
                <td> <a [routerLink]="[objet.id]">{{objet.nomDObjet}} </a></td>
                <td>{{objet.emplacementDOobjet}}</td>
                <td>{{objet.statutDObjet}}</td>
                <td>{{objet.estConnecte}}</td>
                <td><input type="button" class="btn btn-sm btn-success" style="margin:5px;" value="Allumer" (click)="allumer(objet)"><input type="button" value="Etteindre" class="btn btn-danger btn-sm" style="margin:5px;" (click)="etteindre(objet)"></td>
                <td><input type="button" class="btn btn-sm btn-success"  value="Connecter" style="margin:5px;" (click)="connecter(objet)"><input type="button" value="deConnecter" class="btn btn-danger btn-sm" style="margin:5px;" (click)="deconnecter(objet)"></td>
            </tr>
        </table>

    </div>
    <div class="col-3" style="border-left:2px dashed black;">
        <app-boite-control></app-boite-control>
    </div>

</div>
</div>

           
        


    

