<div class="container">
  <h4>Authentification</h4>
  <div class="row">
    <div class="col">
    <form>
      <div class="form-group">
        <label>Login : </label>
        <input type="text" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label>Password : </label>
        <input type="password" class="form-control" ngModel>
      </div>
      <div class="form-group">

        <button (click)="renvoyer()" class="btn btn-success btn-lg">Valider</button>
      </div>
    </form>
  </div>
  </div>
</div>

